* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

html, body {
    height: 100vh;
    background: hsl(185, 75%, 39%);
}

.container {
    margin: 0 auto;
    width: 100%;
    min-width: 330px;
    max-width: 1440px;
    height: 100vh;
}

.bg-pattern-top, .bg-pattern-bottom {
    position: absolute;

    width: 100%;
    min-width: 150px;
    max-width: 50%;
    height: 100%;
    max-height: 50vh;

    background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
    background-size: 125%;
    background-repeat: no-repeat;
}

.bg-pattern-top {
    top: 0;
    left: 0;

    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.bg-pattern-bottom {
    bottom: 0;
    right: 0;
}

section.pattern-card {
    position: relative;
    top: calc(50% - 200px);

    margin: 0 auto;
    width: 330px;
    height: 360px;

    background-color: white;
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    border-radius: 15px;
}

.profile-image {
    position: relative;
    top: calc(50% - 120px);

    margin: 0 auto;
    width: 120px;
    height: 120px;

    background-image: url("../images/image-victor.jpg");
    background-size: contain;
    border: 3px solid white;
    border-radius: 60px;
}

.profile-data {
    position: relative;
    top: 70px;

    padding: 15px;
    width: 100%;
    height: 60px;

    text-align: center;
}

.profile-data h2 span {
    color: hsl(0, 0%, 59%);
}

.profile-data p {
    margin-top: 10px;

    color: hsl(0, 0%, 59%);

    font-size: 16px;
}

hr {
    position: relative;
    top: 95px;

    border-color: rgba(200, 200, 200, 0.1);
}

.profile-informations {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 100px;

    text-align: center;
}

.profile-informations h2, .profile-informations p {
    position: relative;
    top: 40px;
    display: inline-block;

    width: 30%;
}

.profile-informations p {
    color:hsl(0, 0%, 59%);

    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .bg-pattern-top, .bg-pattern-bottom {
        background-size: 200%;
    }
}

@media screen and (max-width: 450px) {
    .bg-pattern-top, .bg-pattern-bottom {
        background-size: 300%;
    }
}